* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-bg-bule: #dcf2f7;
    --primary-color-blue: #83b0bb;
    --text-color: #696767;
    --new-text-green: rgb(34, 199, 56);
    --new--bg-green: rgb(112 172 112 / 42%);
    --text-orange: #f5821f;
}

header .row.bg {
    background-color: var(--primary-bg-bule);
}
.nav-link{
    color: #fff;
}

.time>span {
    color: #90c1cb;
}

.icon-header--item {
    /* display: flex;
    align-items: center; */
}

.icon-header--item:first-child i,
.icon-header--item:nth-child(2) i,
.icon-header--item:nth-child(3) i {
    color: var(--primary-color-blue);
}

.icon-header--item:nth-child(2) span,
.icon-header--item:nth-child(3) span {
    color: #90c1cb;
    display: inline-block;
    margin-right: 15px;
}

.icon-header--item:first-child,
.icon-header--item:nth-child(2),
.icon-header--item:nth-child(3) {
    border-right: 1px solid #90c1cb;
}

.header-contact--item {
    align-items: center;
    margin: 0 30px;
}

.header-contact--item i {
    font-size: 35px;
    color: #8fddf6;
    margin: 0 10px;
}

.header-contact--item span {
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    color: #949494;
    font-weight: 500;
}

.header-contact--item:last-child {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    justify-content: center;
}

.header-contact--item:last-child i {
    font-size: 17px;
}

/* nav */
.nav_header-item {
    display: flex;
    align-items: center;
}

.navbar-collapse>ul {
    list-style: none;
}

.navbar-collapse ul>li {
    padding: 10px 20px;
}

.navbar-collapse ul>li>a {
    text-decoration: none;
    /* color: #fff; */
}

.login,
.register,
.submit-property {
    padding: 10px 20px;
    color: #fff;
}

.navbar-expand-lg {
    background-color: #1d487ac2;

}

.new-nav {
    top: 0;
    position: fixed !important;
    width: 100%;
    z-index: 100;
}

.navbar-nav li {
    position: relative;
}

.navbar-nav>li a,
.navbar-nav>li>i {
    color: #fff;
}

.nav-item:hover a {
    /* color: #ccc; */
}

.navbar-nav ul.sub-menu {
    position: absolute;
    top: 57px;
    z-index: 4;
    padding-left: 0;
    list-style: none;
    background-color: #53749ab8;
    width: 150px;
    /* display: block; */
    display: none;
}

.navbar-nav ul.sub-menu::before {
    content: "";
    top: -18px;
    left: 40px;
    color: #53749ab8;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid;
    position: absolute;
}

.navbar-nav li:hover .sub-menu {
    display: block;
}

.navbar-nav ul.sub-menu li {
    border-bottom: 1px solid #ccc;
}

.navbar-nav ul.sub-menu>li:hover {
    color: tomato;
    border-bottom: 1px solid #8d8989;
    cursor: pointer;
}

.navbar-nav ul.sub-menu li:last-child {
    border: none;
}

/* border khi hover doi bottom */
.navbar-nav>li>a {
    position: relative;
}

.navbar-nav>li>a::before {
    content: "";
    height: 4px;
    width: 0;
    background: tomato;
    position: absolute;
    border-radius: 5px;
    bottom: 0px;
    left: 0px;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-nav>li:hover>a::before {
    width: 100%;

}

/* search */
#search-box {
    background-color: #fff;
    border-radius: 30px;

}

#search-box #search-text {
    border: none;
    outline: none;
    background: none;
    width: 0;
    transition: all 0.25s ease-in-out;
}

#search-box:hover #search-text {
    width: 200px;
    padding: 6px 12px;
}

#search-box #search-text:valid {
    width: 200px;
    padding: 6px 12px;
}

#search-box #search-btn {
    border: none;
    outline: none;
    background: none;
    border-radius: 50%;
}

.login {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}

.login:hover ul {
    display: block;
}

.login:hover {
    background-color: #fff;
    cursor: pointer;
}

.login:hover i {
    color: #000;
}

.login>ul {
    position: absolute;
    list-style: none;
    padding-left: 0;
    width: 121px;
    top: 48px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none;
    border-radius: 5px;
}

.login>ul::before {
    content: "";
    top: -18px;
    left: 50px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid;
    position: absolute;
}

.login>ul>li a {
    color: #000;
}

.login>ul>li:hover a {
    color: #53749a;
}

/* end nav */
article .breadcrumb {
    margin-bottom: 0;
    padding: 80px;
    background: url(../Product/img/bg.jpg);
}

article .breadcrumb-title ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.breadcrumb-title>ul li {
    margin: 16px 15px 0 0;
}

.breadcrumb-title>ul li i {
    color: #f5821f;
    margin-right: 10px;
}

.breadcrumb-title>ul li a,
.breadcrumb-title>ul li {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

.breadcrumb-title>ul li a:hover {
    color: #f5821f;
}

.breadcrumb-title>ul li span {
    margin-left: 15px;
    font-weight: bold;
    color: #000;
}
/* sidebar */

.sidebar_author{
    padding: 40px;
    border: 1px solid #ccc;
}
.sidebar_author img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 25px;
}
.sidebar_author h5{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.sidebar_author h5:hover{
    color: var(--text-orange);
    cursor: pointer;
}

.sidebar_author span{
    display: flex;
    justify-content: center;
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: 1px;
}
.ratting{
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    margin-top: 15px;
}
.ratting li i{
    font-size: 14px;
    padding-left: 5px;
    color: #fdb853;
}
.sidebar_author p{
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: var(--text-color);
}
.media {
    list-style: none;
    padding-left: 0;
}
.media li{
    padding: 0 8px;
}
.media li a{
    color: var(--text-color);
    font-size: 18px;
}
.media li a:hover{
    color: var(--text-orange);
}
.sidebar-form {
    margin-top: 40px;
    padding: 40px;
    border: 1px solid #ccc;
}
.sidebar-form  h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding-left: 10px;
    border-left: 3px solid orange;
}
#id-form input{
    display: block;
    width: 100%;
    padding: 20px;
    outline: none;
    margin-bottom: 30px;
}
#id-form textarea{
    width: 100%;
    padding: 20px;
}
#id-form button{
    padding: 17px 40px;
    background-color: var(--text-orange);
    color: #fff;
    outline: none;
    border: none;
    margin-top: 30px;
}
.sidebar-product-news{
    margin-top: 40px;
    padding: 40px;
    border: 1px solid #ccc;
}
.sidebar-product-news h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding-left: 10px;
    border-left: 3px solid orange;
}
.product-info {
    padding: 25px;
}
.product-price span{
    color: var(--text-orange);
    font-weight: bold;
    font-size: 18px;
}
.product-info h2{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}
.product-info h2 a{
    text-decoration: none;
    color: #000;
}
.product-location{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.product-img {
    position: relative;
}
.product-img span{
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    color: #fff;
    padding: 5px 12px;
    border-radius: 3px;
    background-color: #afeb2b;
}
.product-location i{
    color:var(--text-orange);
    margin-right: 10px;
}
.product-location span{
    font-size: 12px;
    color: var(--text-color);
}
.service-room {
    margin: 25px 0;
    display: flex;
    list-style: none;
    padding-left: 0;
}
.service-room li{
    margin-right: 10px;
    padding-left: 5px;
    color: var(--text-color);
}
.product-news-item{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.slider-for .slick-arrow.prev{
    left: 0;
}
.slider-for .slick-arrow.next{
    right: 0;
}
.slick-next,
.slick-prev{
    display: none !important;
}
.slider-for .slick-arrow{
    position: absolute;
    top: 50%;
    display: block;
    z-index: 9;
    transform: translate(0, -50%);
    cursor: pointer;
}
.slider-for .slick-arrow span{
    color: #fff;
    font-size: 40px;
    padding: 10px;
}
.slider-for .slick-arrow span:hover{
    opacity: 0.4;
}
.sidebar-post-news{
    margin-top: 40px;
    padding: 40px;
    border: 1px solid #ccc;
}

.sidebar-post-news h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding-left: 10px;
    border-left: 3px solid orange;
}
.sidebar-comment > ul{
    margin: 30px 0;
    list-style: none;
    padding-left: 50px;
    border-top: 1px solid #ccc;
    padding-top: 30px;


}
.sidebar-comment > ul > li:nth-child(2){
    padding-left: 80px;
    margin: 30px 0;
    border-top: 1px solid #ccc;
    padding-top: 30px;
}
.sidebar-comment h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding-left: 10px;
    border-left: 3px solid orange;
}
.sidebar-post-news > ul {
    list-style: none;
    padding-left: 0;
}
.sidebar-post-news > ul >  li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.sidebar-post-news > ul >  li:last-child{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.comment-list  {
    display: flex;
    align-items: center;
    position: relative;
}
.comment-list img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.comment-intro a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;    
}
.comment-intro span{
    display: inline-block;
    color: var(--text-orange);
    margin: 10px 0;
}
.comment-intro p{
    font-size: 14px;
    color: var(--text-color);
}
.rep{
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--text-color);
    padding: 5px 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
}
.rep > li:first-child{
    margin-right: 10px;
}
.post-img-news img {
    width: 130px;
    height: auto;
}
.post-des a{
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--text-color);
    display: inline-block;
}
.post-des a:hover {
    color: var(--text-orange);
}
.post-des p{
    color: var(--text-orange);
    margin-bottom: 10px;
}
.post-des p i{
    margin-right: 10px;
    justify-content: flex-end;
}
.star{
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 10px;
}
.star li i{
    font-size: 14px;
    padding-left: 5px;
    color: #fdb853;
}
#backtop{
    width: 50px;
    height: 50px;
    background-color: tomato;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
}
.blog-container {
    padding: 80px 0;
}
.blog-sidebar{
    padding: 0 40px;
}
.hover-img {
    overflow: hidden;
    cursor: pointer;
    }
    .hover-img img {
   display: block;
   transition: all 0.3s ease-in-out;
    }
    .hover-img:hover img {
   transform: scale(1.1);
   opacity: 0.9;
    }
.product-hed > ul{
    list-style: none;
    padding-left: 20px;

}
.product-hed > ul li:first-child{
    background-color: var(--text-orange);
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}
.product-hed > ul li{
    padding: 7px 20px;
}
.product-hed > ul li > span:nth-child(2){
    display: inline-block;
    color: var(--text-orange);
}
.product-hed > ul li i{
    color: var(--text-orange);
    margin-right: 10px;
}
.product-details h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 15px;
}
.location-product {
    list-style: none;
    padding-left: 0;
    display: flex; 
    margin-bottom: 30px;
}
.location-product li i{
    margin-right: 10px;
    color: var(--text-orange);
}
.location-product li span{
    color: var(--text-color);
    font-size: 14px;
}
.product-details h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding-left: 10px;
    border-left: 3px solid orange;
}
.title-h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding-left: 10px;
    border-left: 3px solid orange;
}
.product-details p{
    color: var(--text-color);
    line-height: 35px;
}
.detail-text{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding-left: 10px;
    border-left: 3px solid orange;
    margin-top: 40px;
}
.property-info-list {
    display: flex;
    background-color:#f2f6f7;
    justify-content: space-between;
}
.property-info-list ul{
    list-style: none;
    padding-left: 0;
    padding: 30px 50px;
    border-right: 1px solid#ccc;
    margin-bottom: 0;
}
.property-info-list ul li span{
    min-width: 110px;
    display: flex;
}
.property-info-list ul > li{
    justify-content: space-between;
    margin-top: 30px;
}
.convenient ul{
    list-style: none;
    padding-left: 0;
}
.convenient ul >li i{
    font-size: 20px;
    color: var(--text-orange);
    margin-right: 5px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 49px;
    background-color: var(--section-bg-5);
    text-align: center;
}
.icon:hover {
    background-color: var(--primary-color-blue) ;
}
.icon:hover i{
    color: #fff;
    /* video */
}.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Đảm bảo video chiếm cả kích thước của trình duyệt */
    overflow: hidden;
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Đặt z-index thấp hơn nội dung để video nền */
  }
  #videoBox #video{
    margin-top: 80px !important;
  }
  
  .video-container .content {
    position: relative;
    z-index: 1;
    /* Thêm các tùy chỉnh CSS cho nội dung của bạn */
  }
  /* video */


#playButton {
    align-items: center;
    display: flex;
    font-size: 25px;
    justify-content: center;
    background-color: var(--primary-color-blue);
    color: white;
    cursor: pointer;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 3;
}

#playButton:hover {
    opacity: 0.9;
}
#video {
    width: 70%;
}
#videoContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Màu nền mờ */
    z-index: 3;
}

#videoBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#closeButton {
    position: absolute;
    top: 110px;
    right: 85px;
    /* background-color: #ccc; */
    border: none;
    cursor: pointer;
    outline: none;
}

/* Tùy chỉnh biểu tượng Font Awesome */
.fa-close {
    font-size: 24px;
    color: #fff;
}
.banner-video{
    position: relative;
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1604039619887-415341e31b58?auto=format&fit=crop&q=80&w=2007&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.banner-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Điều chỉnh màu nền mờ tại đây */
    /* z-index: 1; */
}
.comment-item textarea{
    width: 100%;
    padding: 35px 30px;
    outline: none;
}
.comment-item .icon i{
    position: absolute;
    top: 45px;
    right: 20px;
    color: var(--text-orange);
    
}
.comment-item{
    position: relative;
}

.comment-item input{
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    outline: none;
}
.form-check {
    margin: 30px 0;
}
.btn-wraper {
    margin-top: 30px;
}
.btn-wraper button{
    outline: none;
    border: none;
    padding: 15px 35px;
    font-size: 20px;
    background-color: var(--text-orange);
    color: #fff;
}
.btn-wraper button:hover{
    opacity: 0.7;
}
/* mobile */
@media screen and (max-width: 767px){
    #nav-mobile{
        display: block !important;
    }
    #navbar{
        display: none;
    }
    .time{
        font-size: 12px;
align-items: center;
display: flex;
}
.icon-header .icon-header--item:nth-child(2){
    display: none !important;
}
.icon-header .icon-header--item:nth-child(3){
    display: none !important;
}
.icon-header--item:nth-child(1){
    border-right: none;
    padding: 0 !important;
}
article .breadcrumb{
    padding: 30px;
}
.blog-container{
    padding: 80px 20px;
}
.product-hed > ul li {
    padding: 7px 12px;
}
.product-details h1 {
    font-size: 22px;    
}
.product-details p {
    font-size: 14px;
    line-height: 28px;
    }
    .property-info-list{
        display: block;
    }
    .property-info-list ul {
        border-bottom: 1px solid #ccc;
        border-right: none;
    }
    .hover-img img {
        margin-top: 20px;
    }
    .comment-list img {
        width: 80px;
        height: 80px;
    }
    .comment-intro a{
        font-size: 16px;
    }
    .comment-intro span {
        margin: 0 3px;
    }
    .rep {
        padding: 5px 8px;
    }
    .blog-sidebar{
        padding: 0;
        margin-top: 30px;
    }
    .sidebar_author{
        padding: 18px;
    }
    .sidebar-form{
        padding: 20px;
    }
    .sidebar-product-news {
        padding: 15px;
    }
    .post-des p {
        font-size: 13px;
        margin-bottom: 0;
    }
    .post-des a{
        margin-bottom: 0;
        font-size: 14px;
    }
    .star{
        margin-top: 0;
    }
    .hover-img img{
        margin-top: 0;
        margin-right: 50px;
    }
    .post-des{
        padding-left: 10px;
    }
    #playButton {
        left: 39% !important;
    }
}
/* tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .hover-img img{
        margin-top: 20px;
    }
    .blog-sidebar{
        padding: 0;
        margin-top: 30px;
    }
    .post-des{
        margin-top: 20px;
        margin-left: 30px;
    }
    .sidebar-post-news > ul > li{
        justify-content: flex-start;
    }
    #playButton {
        top: 40%;
        left: 45% !important;
    }
    #nav-mobile{
        display: block !important;
    }
    #navbar{
        display: none;
    }
}
/* pc */
@media screen and(min-width: 1024px) {

}
#nav-mobile{
    display: none;
}
.box-login-list{
    list-style: none;
    padding-left: 0;
 

}
.box-login-list li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.box-login-list li i{
    color: #fff;
}
#search-mobile{
    position: relative;
}
.box-search{
    position: absolute;
    right: 0;
}
.error-message {
    color: red;
    padding-top: 20px;
    font-weight: bold;
}
.error-input {
    border: 1px solid red;
}
.alert-success {
    position: absolute;
    right: 0;
    top: 109px;
    /* display: none; */
}
.progress-bar{
    background-color: green !important;
}
.evaluate{
    color: var(--text-orange);
}
.login{
    display: flex;
    align-items: center;
}
.login a{
    color: #fff;
}